body{
    font-family: 'Poppins';
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.navbar{

    display: flex;
    flex-direction: row;
    background-color: #636c79;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0 20px;


}

.nav-list{
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}

.nav-item{
    margin: 0 20px;
    opacity: .8;
}



.nav-btn{
    all: unset;
    padding: 8px 30px;
    border: 1px solid grey ;
    opacity: .8;

}

/* genreral classes */
.btn{
    all: unset;
    background-color:#8bb7a2;
    padding: 10px 35px;
    color: #fff;

}


.div-heading{
    color:#000;
    font-size: 2.5rem;
    line-height: 1.4;
}

.div-content{
    color: #000;
    width: 60%;
    line-height:1.8;
    
}



/* INTRO+DIV1- CSS */

.div-1{

    background-color:#636c79 ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height:100%;
    padding: 0 0 70px 0;
}

.div-1-img{
    width: 40%;
    /* height: 100%; */
    place-items:center;
    margin-left: 80px;
}

.div-1-right{
    margin-right: 80px;
}
.div-1-heading{
    width: 60%;
    margin-bottom: 0;
    color: #fff;

}

.div-1-content{
    color: #fff;
    opacity: .8;
}

.div-1-form{
    background-color: #fff;
    display: inline-block;
    padding: 8px;
    padding-right:;
    
    align-items: center;
    
    
}

.form-email-cont{
    display: inline-block;
}

.form-btn-cont{
    background-color: #fff;
    display: inline-block;
    width: 58%;
    padding: 10px 0px;

}

.form-btn-cont button{
    margin-left: 0;
}

.div-1-form>i{
    margin-right: 0px;
}

.form-input{
    margin-right: 80px;
    border: none;
    color:#000;
}



/* DIV-2 CSS */

.div-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.statistics-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.div-2-heading{
    width: 40%;
    text-align: center;
}

.statistic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 10px 50px;
    
}

.stat-number{
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.stat-name{
    margin: 0;
}

.div-2-img{
    width: 80%;
    margin: 20px 0;
}



/* MID_DIV CSSS */


/* General css for mid parts */


.mid-img{
    width: 70%;
}

.mid-div{
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 0 60px 0 150px;
    column-gap: 0px;
}


.mid-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 80px; */

}

.mid-section-heading{
    width:30% ;
    text-align: center;
    
}

.mid-div-heading{
    width: 55%;
    margin-bottom: 10px;
}

.mid-div-content{
    width: 70%;
    margin-top: 0 ;
    margin-bottom: 30px;
    opacity: .8;
}





/* TEAM SECTION */

.team-section{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.member-img{
    width: 60%;
}

.team-title-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}


.team-title-cont>h1{
    width: 50%;
    margin-left: 0;
    margin-right: 120px;
}
.team-members{
    /* display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin: 0 auto;
    margin-left: 00px;
    

}

.member{
    display: inline-block;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.about-member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:60% ;
    margin-top: px;
}

.member-intro{
    width:100%;
    margin: 0 auto;
    
    opacity: .8;
}

.member-name{
   margin: 5px 0px;
}

.see-more-btn{
    margin:50px 0;
}






/* FOOTER CSS */

.footer{
    background-color: #10181d;
    color: #FFF;
    padding: 10px 20px;
}


.footer-bottom{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.footer-item{
    margin:10px 0;
    opacity: .8;
}

.footer-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 20px;
}

.social-icon{
    color:;
    font-size: 1rem;
    margin: 0 5px;
    background-color: gray;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 20px;
}


/* NAV _COLLAPSE */


/* COLLAPSE NAV STYLING STARTS */

#navigation-cp{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    

}

#cp-menu{
    width: 35px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
    position: fixed;
    top: 0px;
    padding-top: 20px;
    margin-top: 5px;
    margin-left: 10px;
}


.bar{
    height: 5px;
    width: 100%;
    background-color: #fff;
    background-color:darkgray;
    display: block;
    border-radius: 5px;

    transition: 0.3s ease;

}

#bar1{

    transform: translateY(-4px);
}


#bar3{

    transform: translateY(4px);
}




.m-cp-nav{
 
    margin: 0px;
    transition: 1s ease;
    display: none;
    
    

   
}

.m-cp-nav a{
    color: #fff;
    text-decoration: none;
    list-style: none;
}

.m-cp-nav a:hover{

   /* border: 1px solid #fff; */
}

.m-cp-nav a{
    padding: 16px 0px;
    list-style: none;
    color: #fff;
}


.icon{

    
}


.icon .bar{
    background-color:darkgray;
    
    display: block;
}

.icon #bar1{
    transform: translateY(4px) rotate(-45deg);
}



.icon #bar3{
    transform: translateY(-6px) rotate(45deg);
}


.icon #bar2{
   opacity: 0;
}



/*  onclick bg changes of nav*/
.change{
    display: flex;
    background-color: #636c79;
    
    height: 100vh;
  
    margin: 0px;
    
    padding-top: 100px;
    position: fixed;
    font-size: 20px;
    top: 0px;
    z-index: 1;
    width:30%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.cp-btns{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    
}

.cp-btns a:nth-of-type(1){
    background-color: #e9edff;
    color: #636c79;
    border-radius: 5px;
    padding: 5px;

}

@media screen and (min-width:1060px){

    
#cp-menu{
    display: none;
}

#nav-cp{
    display: none;
}
    
.change{
display: none;
}
}



@media screen and (max-width:1060px) {
    

    
#menu{
    display:block;
}

}


/* COLlapse end--------------------------------*/


/* my footer */

.my-contact{
    position: relative;
    margin: 0 auto;
    background-color: ;
    text-align: center;
    padding-bottom: 5px;
    background-color: #10181d;
    margin: 0;
}

.designed-by{
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    opacity: .8;
}

.designed-by>a{
    text-decoration: none;
    color: #fff;

}

/* -------------------- */










/* responsive */

/* Breakpoinst

B1-1300px-hero-img,

B2-1260-Team sec hd cont 

sec-headings-sorted here

B3-1050-div- 1content

B4-900:change font size of footer an others
font and widht of hedings of mid section

css-issues:team sec member name

 
general:div-heading

*/


/* 1300px */

@media screen and (max-width:1300px) {

    
    
.div-1-img{
    width: 50%;
   
    place-items:center;
    margin-left: 80px;
}

.div-heading{

    width: 55%;
    font-size: 2.5rem;
}

.div-1-heading{
    width: 90%;
}



/* temamemebr */

.team-title-cont h1{
    width: 65%;
    margin-left: 20px;
}

.team-title-cont p{

    width: 80%;
}
}


/* 1260 */

@media screen and (max-width:1060px){

    
.div-1-form{
    background-color: #fff;
   
    padding: 8px 0px;
    padding-right:;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
 
    
    

}

.form-btn{
    padding: 5px;
    font-size: 15px;
}
.form-input{
    margin: 0;
    margin-bottom: 5px;
}


   
.div-1-img{
    width: 55%;
   
    place-items:center;
    margin-left: 0px;
    margin-top: 15px;
}

.div-1-heading{
    width: 100%;
    margin-bottom: 0;
    color: #fff;

}

.div-1-content{
    color: #fff;
    opacity: .8;
    width: 100%;
}

.nav-list{
    display: none;
}
.navbar{
    align-items: flex-start;
}

.nav-logo{
   margin: 0 auto;
   margin-top: 15px;
   
}

/* mid-div */

.mid-div-heading{
    width: 70%;
}

.team-title-cont{

    grid-template-columns: repeat(1,1fr);

    text-align: center;
}

.team-title-cont h1{
    width: 45%;
    margin: 0;
}

.div-content{
    width: 45%;
}

}





/* 900px */


@media screen  and (max-width:900px){

    

    .div-heading{
        font-size: 35px;
    }

    .div-1-img{

        width: 65%;
        

    }


    /* stat */

    .statistic{
        font-size: 15px;
        margin: 0 10px;
    }


    /* mid section */

    .mid-section{
        margin:0px
    }

    .mid-div{
        width: 95%;
        
        margin:0px
    }

    .mid-div-heading{
        font-size: 20px;
    }
    
    .mid-img{
        width: 80%;
    }
    
}


@media screen and (max-width:800px) {
    
    


    .div-1{

        background-color:#636c79 ;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        place-items: center;
        height: 100%;
        padding: 0 0 70px 0;
    }


    .div-1-img{

        width: 35%;
        

    }
    
    
    .div-1-right{
        margin-right: 0px;
        margin: 0 auto;
        text-align: center;
        width: 80%;
        height:100%;
    }

    
.div-1-form{
    background-color: #fff;
    display: inline-block;
    padding: 8px;
    padding-right:;
    
    align-items: center;
    width: 55%;
    
    

}

/* mid div */

.mid-section{
    width: 100%;
}

.mid-div{
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items:center;
    margin:0px;
    column-gap: 20px;
    width: 95%;
}

.mid-img{
    width:100%;
}
.mid-div-heading{
    width: 90%;
}

.mid-div-content{
    width: 100%;
}

.mid-div-content{
margin-bottom: 15px;
}

.mid-div-btns{


    padding: 10px 15px;
}





/* team section */

.div-content{
    width: 100%;
}



.team-title-cont h1{

    width: 55%;
}


/* footer */

.footer-bottom{
    flex-direction: column;
}



}


@media screen and (max-width:600px) {
    
    .div-heading{
        font-size: 30px;
        width: 75%;
    }
    .div-1-heading{
        width: 100%;
    }

    /* heroform */
      
.div-1-form{
    width: 75%;
    
    
}

.nav-logo{
    margin: 0 auto;
    margin-top: 15px;
    width: 30%;
    
 }


    /* stat */
    

.statistics-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    order: 2;
    
}



.div-2-heading{
    
}

.statistic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    margin: 0 5px;
    
    
}



.about-member{
    width: 80%;
}

.member-img{
    width: 80%;
}

/* cp-nav */

.change{
    width: 60%;
}

}


/* 500px 

headings:25px
*/

@media screen and (max-width:500px){
    

.div-heading{

    font-size: 25px;
}

/* hero */
 
.div-1-form{

    width: 90%;
}


/* stat */

.statistics-container{
    display: flex;
    flex-direction: column;
    
}

.statistic{
    margin: 15px 0px;
}

.stat-number{
    margin-bottom: 5px;
}

.div-2-img{

 
}

/* mid div */


.mid-div-heading{
    width: 100%;
    font-size: 17px;
}

.mid-div-content{
    width: 100%;
    font-size: 14px;
}

.mid-div-content{
margin-bottom: 15px;
font-size: 14px;
width: 100%;
}

.mid-div-btns{


    padding: 5px 10px;
}


/* team section */

.about-member{
    
}
.member-intro{
    font-size: 12px;
}


.team-title-cont h1{

    width: 70%;
}

/* cp-nav */

.change{
    width: 100%;
}

    
}


/* 420px */